    /* =Fun
----------------------------------------------- */  
 
#fun { background: $fun-color } 

#fun .demo.reveal { opacity: 1 }

#fun .menu { 
	width: 100%; 
	position: absolute;
	bottom: 25px;
	opacity:1;
} 

	 

	#fun .menu { color: $beige; z-index:10}
	#fun .menu span{ 
		margin: 0 10px;
		color: #44443f; 
		padding-bottom: 1px; 
		border-bottom: 1px solid #44443f;
		cursor: pointer;
	}
  
	#fun .menu .selected { 
		background: $beige;
		letter-spacing: .1em;
		font-style: italic;
		border: none;
		font-size: .9em;
		padding: 2px 5px 4px;
		cursor: default;
	}

	#fun .demo { 
		opacity: 0;  
		position: absolute;
		height: 100%;
		width: 100%;
		top:0;
		left:0;
	}

	#fun .lazylinepainter {}
	#fun .box2d {}
	#fun .fonts {}

	#fun .slideshow,
	#fun .inner {
		width: 100%;
		height: 100%;
	}

	#fun .mover {height: 100%}

	.no-touch #fun .slideshow .mover { 
		@include transition-timing-function(cubic-bezier(1.000, -0.530, 0.405, 1.425))
	}
	.no-touch  #fun .slideshow .mover.speedup {
        @include transition-timing-function (ease-out);
    }

	#fun .slide { 
	    height:100%; 
	    position:relative; 
	}

	#fun .inner.guy {
		width:20%; 
	    min-height: 100px; 
	    margin: 0 40%;

	    @include breakpoint( 1300px ) {  width:260px; margin: 0 auto;}
	}

	#fun .inner.face {
		width:30%; 
	    min-height: 100px; 
	    margin: 0 35%;

	    @include breakpoint( 1000px ) {  width:290px; margin: 0 auto;}
	}

	#fun .inner.shape {
		width:40%;  
	    margin: 0 30%;

	    @include breakpoint( 800px ) {  width:290px; margin: 0 auto;}
	}

	#ll-guy, #ll-chair, #ll-face, #ll-vertical-grid,#ll-horizontal-grid,#ll-shape  { 
		top: 0px;
		position: absolute;
		left: 0px; 
	}



    #fun .slideshow .arrow svg path{ fill: #44443f;} 



	#fun .fonts .block.display .inner {
		background: url('images/svgs/block.svg') no-repeat;
		background-size: cover;
		background-size: 100% 100%;
		background-postion: center center;
	}

	#fun .fonts .handybit.display .inner {
		background: url('images/svgs/handybit.svg') no-repeat;
		background-size: cover;
		background-size: 100% 100%;
		background-postion: center center;
	}


	#fun .fonts .softsurf.display .inner {
		background: url('images/svgs/softsurf.svg') no-repeat;
		background-size: cover;
		background-size: 100% 100%;
		background-postion: center center;
	}


	#fun .fonts .ddu.display .inner {
		background: url('images/svgs/ddu.svg') no-repeat;
		background-size: cover;
		background-size: 100% 100%;
		background-postion: center center;
	}



	#fun .fonts .display .inner {
		margin: 0 25%; 
		width: 50%;
		height: 100%; 

		@include breakpoint( 600px ) { 
			margin: 0; 
			width: 100%;
		}
	}


    // extend button.scss partial
    .fun .btn { color: $beige;  border-color: $beige; }
    .no-touch .fun .btn:hover {  color: #d1b199; border-color: $beige; }


 




