/* =Home
----------------------------------------------- */
    
article#content>section#home>.inner {
    overflow: visible;
}

#home { background: $home-color } 

.logo-wrap {
    width: 416px;
    margin: 0 0 0 -192px;
    top: 51%;
    left: 49.3%;
    z-index: 2;
    position: absolute;

    @include breakpoint( 500px ) {  top: 45%; }
}

    #logo-home-holder { 
        z-index: 2; 
        position: absolute;
        width: 100%; 
        display:block;

        @include breakpoint( 500px ) {  margin: -25% 24% 0px 16%; width: 70%; }
        @media screen and (max-height: 350px) { display:none; }
    }

    #logo-home {overflow: visible !important; height:571px;}

    .logo-backing { 
        z-index: 1; 
        width: 400px;
        position: absolute; 
        opacity: 0;
        margin: -157px 0 0 -14px;

        @include transition( opacity 1s linear ); 
    }

    .logo-backing.expand { opacity:1; }

        .brushstroke { 
            background-image:url("images/stroke.png"); 
            width:254px; height:178px; 
            @include rotate( -30deg );
            position: absolute;
            left:-30px;
            top: 180px;
            display:block;

            @media screen and (max-height: 650px) { display:none; }
        }


        .circle-mask {
            overflow: hidden;
            width:300px; 
            height:370px;  
            border-radius: 50%;
            margin: -223px 0 0 49px;
            background: #fefbf2;
            position:absolute;
            display:block;

            @include rotate( 30deg );
            @media screen and (max-height: 650px) { display:none; }
        }

        .circle-mask:after{
            content: ' ';
            position:absolute;
            width:300px; 
            height:370px;  
            border-radius: 50%;
            left:0px;
            top:0px;
            right:0px;
            bottom:0px;
            @include box-shadow(inset 6px 4px 12px rgba(68,68,68,0.35));
        }

ul.grid { width:100%;height:100%; margin:0; position:absolute}
ul.grid.vert { @include rotate( -30deg ); }
ul.grid.hori { @include rotate( -120deg ); }

li.line {
    position:relative;
    float: left;
    width: 5%;
    height: 0%;
    border-right: 1px solid #a8d0fa;
    @include transition( all 1s linear ); 

    // @include breakpoint( 1000px ) { width: 2%;}
}
li.line:nth-child(4n) { border-right: 2px solid #9fcaf6; }
li.line:first-child { border-left: 2px solid #9fcaf6;}

li.line.expand { height: 100%; }

#home h1 {
    z-index: 10;
    font-size: 33px;
    line-height: 35px;
    color: $beige; 
    letter-spacing: 6px;
    width: 100%;
    position: absolute;
    bottom: 10%;
    padding: 0 10px;

    @media screen and (max-height: 350px) { bottom: 38%; }
}
 
 

#home .content-wrap { 
    max-width: 45%;


    @include transition( width  .3s ease-out);    
    @include breakpoint( 500px) { margin-top: 20px; }
}
 

#home .content { position: relative; }

#logo-text { z-index:1}

.dressing {
    top: 0;
    z-index: 1;
    width:100%;
    position: absolute;

    @include breakpoint( 500px) { display:none; } 
}

    .dressing > div { 
        float: left; 
        position: relative; 
    }

    .dressing .left, .dressing .right{
        display:block;
        width:20%;
        height:100%;
    }
    
    .dressing .middle{
        display:block;
        width:60%;
        height:100%;
    }
 