/* = All pages
----------------------------------------------- */
    
article#content { 
    position: fixed;
    width: 100%;
    height: 100%;
    opacity:0;

    @include perspective( 1400px );
    @include transform-style( preserve-3d );
}
 
article#content > section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    visibility: hidden;

    @include backface-visibility( hidden );
    @include translate3d( 0, 0, 0 );
} 

article#content > .current-page,
.no-js .pt-page { z-index:10; visibility: visible; overflow: hidden;}

article#content > section > .divider {
    z-index: 10;
    top: 110px;
    left: 50%;
    position: absolute;
    height: 8px; 
    border-bottom: 8px solid #fd6a62;
}
 
article#content > section > .inner {
    overflow: auto;
    padding-top: 80px;
    position: relative;
    height: 100%;
	width: 100%;
	z-index: 2;

    @include breakpoint( 500px ) { margin-top: 0; }
}
 
.no-js body { overflow: auto; }
 
.pt-page-ontop { z-index: 999; }

.background { 
    height: 100%;
    width: 100%;
    top:0;
    z-index: 0;
    position:absolute;
    display: block; 
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

    @include background-size( cover );
}

.background-wrap {
    left: 0;
    top: 0;
    position: fixed;
    width:100%;
    height:100%;
}

.background-shadow {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background: url('images/vig.png') no-repeat center;
}
    
.content-wrap {
    position: relative;
    z-index: 2;
    margin: 30px auto 140px;
    width: 100%;
}
    
    