/* =Sayhi
----------------------------------------------- */
    
#say-hi { background: $sayhi-color }

#say-hi .content-wrap {
    margin-top: 70px;
    width: 50%;
    font-size: 1.3em;

    @include breakpoint( 900px ) { width: 80%; } 
}  

#logo-sayhi-holder {
    margin: 0 44% 0px 36%; 
    width: 30%;
    display:block ;

    @include breakpoint( 900px ) {  display:none } 
}

#logo-sayhi {max-height:270px }

#say-hi svg path { fill: #59b28c; }
 