/* =Button effect
----------------------------------------------- */

h1.btn{text-transform: none; font-size: 0.8em; padding-top: .5em;} 
.btn {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: $beige; 
    border: 1px $beige solid;
    overflow: hidden; 

    @include transition( border .5s linear);
    @include transition( background .5s linear);
    @include transition( color .5s linear ); 
}

.btn:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;

    display: none;
}

 

.no-touch .btn:hover {
    background: rgba($beige,1);
    color:$beige; 
} 
 
