/* =Footer
----------------------------------------------- */

footer { 
    bottom: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}

    footer .cv {
        padding: 2px 7px;
        border: 1px $beige solid; 
        position: absolute;  
        bottom: 20px;
        right: 20px;
        display: block;
    }

    .home footer .cv {
        display: block;
        @include breakpoint( 400px ) { display: none }
    }

    footer .cv h1 { 
        font-size: .8em; 
        @include transition( color .5s linear ); 
    }

    footer .social-btns {
        width: 200px;
        bottom: 15px;
        left: 15px;
        position: absolute;
    }

        .home footer .social-btns {
            display: block;
            @include breakpoint( 800px ) { display: none }
        }
 
            footer .social-btns div{
                float: left;
                position: relative;
                margin-right: 10px;
            }

    .fun footer  { display: none; }