/* =Typography
----------------------------------------------- */

@font-face {
    font-family: 'mosq';
    src: url('fonts/mosq/mosq.eot');
    src: url('fonts/mosq/mosq.eot') format('embedded-opentype'),
         url('fonts/mosq/mosq.woff') format('woff'),
         url('fonts/mosq/mosq.ttf') format('truetype'),
         url('fonts/mosq/mosq.svg#mosq') format('svg');
}
 